@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{
    --fonte1: Verdana,Arial, sans-serif ;
    --fonte2: 'Source Sans Pro' , sans-serif;
    --fonte3: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}


h1{
    font-family: var(--fonte1);
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 80px;

}

h2{
    font-family: var(--fonte3);
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

p{
    text-align: center;
    font-family: var(--fonte2);
    line-height: 1.7em;
    font-weight: bolder;
    padding-bottom: 10px;
}

section{
    min-height: 73vh;

    position: relative;

}

div{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    width: 65vw;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
}

div.divimg{
    height: 250px;
    width: 65vw;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.267);

}

section.imagem{
    background-color: white;
    background-position: top center;
    background-size: cover;
    color: rgb(0, 0, 0);
    box-shadow: inset 6px 6px 9px rgba(0, 0, 0, 0.315);
    background-attachment: fixed;
}

section.normal{
    background-color: rgb(206, 193, 193);
    font-weight: lighter;
}

div  > p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253) ;

}

section#img01{
    background-image: url(imagens/sala.webp);
}

section#img02{
    background-image: url(imagens/ensinoinfantil1.jpg);

}

section#img03{
    background-image: url(imagens/ensinomedio.webp);
}


footer{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}